header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column 
            // 검색창 get메소드로 url에 표시 되게 해준다.
            form(action =routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul 
                if !user
                    li 
                        a(href=routes.join) Join
                    li 
                        a(href=routes.login) Log In
                else
                    li 
                        a(href=`/videos${routes.upload}`) Upload
                    li 
                        a(href=routes.userDetail(user.id)) Profile
                    li 
                        a(href=routes.logout) Log Out

